/*header styling*/
#header{
    height: 40px;
    width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    height: 25px;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

body header nav a{
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

#highlights{
    color: #F25930;
}
/*body styling*/
body{
    width: 1440px;
    height: 1800px;
    background-color: #F4F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*banner styling*/
#homepage h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    display: flex;
    height: 120px;
    width: 895px;
    color: #ffffff;
    margin-top: 0;
}

#homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Assets/background.jpg");
    background-color:#211499;
    background-blend-mode: multiply;
    background-size: 1440px 750px;
    background-repeat: no-repeat;
    height: 750px;
    width: 1440px
}

#homepage div{
    height: 280px;
    width: 895px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    height: 125px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login{
    border: 2px solid #F25930;
    background: none    ;

}
a{
    text-decoration: none;
    color: #ffffff;
}

/*review styling*/
#reviews{
    height: 655px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#review_texts{
    width: 90px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#reviews h2{
    font-size: 30px;
    font-weight: 700;
    color: #211499;
    width: 540px;
    height:90px;
    text-align: center;
    margin-top: 0;
}
#all_reviews{
    width: 1280px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.each_review{
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
}

#explore_more{
    width: 540px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile{
    font-size: 12px;
    font-weight: 400;
}
.comment{
    font-size: 11px;
}
/*footer styling*/
footer{
    height: 100px;
    background-color: #211499;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
}