/*header styling*/
#header{
    height: 40px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    height: 25px;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

body header nav a{
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

#highlights{
    color: #F25930;
}
/*body styling*/
body{
    width: auto;
    height: 1950px;
    background-color: #F4F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*banner styling*/
#homepage h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    display: flex;
    height: 120px;
    width: 895px;
    color: #ffffff;
    margin-top: 0;
}

#homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Assets/background.jpg");
    background-color:#211499;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%
}

#homepage div{
    height: 280px;
    width: 895px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    height: 125px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login{
    border: 2px solid #F25930;
    background: none    ;

}
a{
    text-decoration: none;
    color: #ffffff;
}

/*review styling*/
#reviews{
    height: 1000px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#review_column{
    height: 755px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#review_texts{
    width: 555px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#reviews h2{
    font-size: 35px;
    font-weight: 700;
    color: #211499;
    width: 600px;
    height:90px;
    text-align: center;
    margin: 0;
}

#all_reviews{
    width: 1600px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.each_review{
    width: 480px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each_review img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.profile_section{
    width: 420px;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
}
.name_area{
    width: 300px;
    height: 160px;
}
.name{
    height: 35px;
    width: 160px;
    background-color: #F25930;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reviews h3{
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.profile{
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    width: 220px;
}
.comment{
    font-size: 12px;
    font-weight: 300;
    height: 50px;
    width: 315px;
    margin-top: 50px;
}

#explore_more{
    width: 540px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*footer styling*/
footer{
    height: 100px;
    background-color: #211499;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}