body{
    background-color: #F4F4F9;
    font-family: poppins;
    margin: 0;
    padding: 0;
    width: auto;
    height: 1000px;
}
header{
    width: auto;
    background-color: #211499;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header_area{
    height: 70px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 35px;
    font-weight: 700;
    color: #F4F4F9;
}
nav{
    height: 70px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    color: #E2BF2D;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
nav img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
#text_area{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#text_area h1{
    font-size: 45px;
    font-weight: 700;
}
#form_area{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

input [type=text], select:focus{
    border: 2px solid #E2BF2D;
    background-color: #ffffff;
    color: #333333;
}
input[type=submit] {
    width: 100%;
    background-color: #F25930;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
  }
  input[type=text], [type=date],select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #211499;
    background-color: #F4F4F9;
    color: #333333;
    border-radius: 15px;
    box-sizing: border-box;
    -webkit-transition: 0.7s;
    outline: none;
    font-size: 16px;
    text-indent: 15px;
    height: 70px;
  }
  label{
    font-size: 18px;
    font-weight: 500;
  }