body{
    background-color: #F4F4F9;
    font-family: poppins;
    margin: 0;
    padding: 0;
    height: 1100px;
}
header{
    width: auto;
    background-color: #211499;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header_area{
    height: 70px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 35px;
    font-weight: 700;
    color: #F4F4F9;
}
nav{
    height: 70px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav p{
    color: #E2BF2D;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
nav img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
#text_area{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#text_area h1{
    font-size: 45px;
    font-weight: 700;
}
#form_area{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 70px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #211499;
    background-color: #F4F4F9;
    color: #333333;
    -webkit-transition: 0.7s;
    outline: none;
    font-size: 16px;
    text-indent: 15px;
    margin-top: 30px;
}
input:focus{
    border: 2px solid #F25930;
    background-color: transparent;
    color: #333333;
}
button{
    width: 150px;
    height: 50px;
    background-color: #F25930;
    border-radius: 10px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    margin-top: 50px;
}